.body_style{
    background-color: darkgray;
}

.header_style{
    background-color: #b6fcc4;
    display: flex;
    justify-content:space-between;
    border-radius: 30px;
    padding: 10px;
}

.auth_info{
    padding: 10px;
    background-color: blue;
    border-radius: 30px;
}

.auth{
    display: flex;
    justify-content: flex-end;
    margin-left: 75%;
}

.cart{
    flex-direction: column;
    display: flex;
}

.logo{
    margin-left:10px;
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color: black;
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
	text-decoration:none;

}

.logo:hover{
    color:#fff;
}

.auth_buttons{
    display:flex;
}

.auth_but{
    margin-left:10px;
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color: black;
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	cursor: pointer;
}

.auth_but a{
    color:black;
    text-decoration:none;
}
.auth_but a:hover{
    color:#fff;
}

.categ_title{
    color:black;
}

.product-list{
    margin-top:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    flex-wrap:wrap;
}

.item{
    margin-left:30px;
    margin-top:15px;
    display:flex;
    flex-direction:column;
}
.content_main{
    margin-top:50px;
}

#sidebar {
    cursor:pointer;
    color: #fff;
    width:100px;
    height:100px;
}