.body_style{
    background-color: darkgray;
}

.header_style{
    background-color: #b6fcc4;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.auth_info{
    padding: 10px;
    background-color: blue;
    border-radius: 30px;
}

.auth{
    display: flex;
    justify-content: flex-end;
    margin-left: 75%;
}

.cart{
    flex-direction: column;
    display: flex;
}

.cart_logo{
    z-index: 35;
    width: 50px;
    height: 50px;
}

.cart_logo:hover {
    transition: 0.3s;
    transform: scale(1.1); 
   }

.logo{
    margin-left:10px;
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color: black;
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
	text-decoration:none;

}

.logo:hover{
    color:#fff;
}

.auth_buttons{
    display:flex;
    align-items:center;
    flex-direction:row;
}

.auth_but{
    margin-left: 30px;
  font-size: 1.2rem;
  color: black;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid black;
  padding: 4px;
}

.auth_but a{
    color:black;
    text-decoration:none;
}
.auth_but a:hover{
    color:#fff;
}
.auth_but:hover{
    color:#fff;
    border: 1px solid #fff;
}

.categ_title{
    color:black;
}

.product-list{
    margin-top:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    flex-wrap:wrap;
}

.item{
    margin-left:30px;
    margin-top:15px;
    display:flex;
    flex-direction:column;
}
.content_main{
    margin-top:50px;
}

#sidebar {
    cursor:pointer;
    color: #fff;
    width:100px;
    height:100px;
}

.dropbtn {
    background-color:cadetblue;
    border-radius: 30px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.pagination {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}