{% extends "main/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

  <div id="sidebar">
  <h3>Categories</h3>
  <ul style=" display:flex; ">
    <li {% if not category %}class="selected"{% endif %}>
      <a href="{% url "main:product_list" %}">All</a>
    </li>
    {% for c in categories %}
      <li {% if category.slug == c.slug %}class="selected" {% endif %} style="margin-left:30px;">
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
      </li>
    {% endfor %}
  </ul>
  </div>
<h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
  <div id="main" class="product-list" style="margin-top:50px;display:flex;justify-content:space-between; align-items:center; flex-direction:row; flex-wrap:wrap;">
    {% for product in products %}
      <div class="item" style="margin-top:15px; display:flex;flex-direction:column;">
        <a href="{{ product.get_absolute_url }}">
            <img class="clothes_img" width="240" height="255" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        ${{ product.price }}
      </div>
    {% endfor %}
 </div>
{% endblock %}